/*Common Css Start */
*{
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
:root{
    --primary-font: 'Poppins', sans-serif;
    --heading-font: 'PT Sans', sans-serif;
    --primary-color:#FFCC00;
    --font-color: #353535;
    --single-use-color: #7A7A7A;
    --white-ase: #F4F3F3;
    --white-color: #FFFFFF;
}
body{ 
    color: var(--font-color);
    font-family: var(--primary-font);
    
}
a{
    text-decoration: none;
    font-family: var(--primary-font);
    color: var(--font-color);
    display: block;
}
ul{
    list-style-type: none;
}
img{
    display: block;
}
.d-block{
    display: block;
}
.w-30{
    width: 30%;
}
.w-32{
    width: 32%;
}
.w-33{
    width: 33%;
}
.w-35{
    width: 35%;
}
.w-40{
    width: 40%;
}
.w-45{
    width: 45%;
}
.w-50{
    width: 50%;
}
.w-55{
    width: 55%;
}
.w-60{
    width: 60%;
}
.w-65{
    width: 65%;
}
.w-70{
    width: 70%;
}
.w-80{
    width: 80%;
}
.w-90{
    width: 90%;
}
.w-100{
    width: 100%;
}
.justify-between{
    justify-content: space-between;
}
.align-center{
    align-items: center;
}
h1,h2,h3,h4,h5,h6{
    font-family: var(--heading-font);
}
.container{
    width: 1110px;
    margin: auto;
}
.row{
    display: flex;
    flex-wrap: wrap;
}

.seemore_btn a{
    width: 171px;
    height: 66px;
    border: 1px solid #000000;
    text-align: center;
    line-height: 66px;
    border-radius: 20px;
    font-size: 18px;
    font-weight: 500;
}
/*Common Css End */

/*Nav Section Start */
#navigation{
    padding-top: 10px;
}
#navigation .nav_list li{

}
#navigation .nav_list li a{
    padding: 14px 29px;
    text-transform: uppercase;
    font-family: var(--primary-font);
    position: relative;
}
#navigation .nav_list li a::before{
    content: '';
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 1.5px;
    background-color: var(--font-color);
    transform: scaleX(0);
    transition: 0.5s;
}
#navigation .nav_list li a:hover::before{
    transform: scaleX(1);
}
/*Nav Section End */

/*Banner Section Start */
#banner{
    padding: 116px 0 104px;
}
#banner .banner_info{
    
}
#banner .banner_info .banner_info_first{

}
#banner .banner_info .banner_info_first p:first-child{
    font-size: 24px;
}
#banner .banner_info .banner_info_first p .fa-hands{
    color: var(--primary-color);
    margin-left: 35px;
    transform: rotate(120deg);
    font-size: 26px;
}
#banner .banner_info .banner_info_first h1{
    font-size: 64px;
    line-height: 82.82px;
    padding: 15px 0 25px 0;
}
#banner .banner_info .banner_info_first p:last-child{
    font-size: 20px;
    line-height: 38px;
}
#banner .banner_info .banner_btn{
    padding: 77px 0 66px;
}
#banner .banner_info .banner_btn a{
    /* padding: 23px 46px; */
    display: block;
    font-size: 20px;
    font-weight: 500;
    width: 209px;
    height: 69px;
    text-align: center;
    line-height: 69px;
    border: 1px solid #000000;
    border-radius: 20px;
    margin-right: 40px;
    transition: 0.5s;
}
#banner .banner_info .banner_btn a:hover{
    background-color: var(--primary-color);
    color: var(--white-color);
    border: transparent;
    transform: scale(0.97);
    border: 1px solid transparent;
    box-shadow: 0px 4px 30px #ffcc0051;
}

#banner .banner_info .banner_social{
    
}
#banner .banner_info .banner_social p{
    font-size: 22px;
    font-weight: 500;
    margin-right: 32px;
}
#banner .banner_info .banner_social .banner_social_icon li{
    
}
#banner .banner_info .banner_social .banner_social_icon li a{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: var(--white-ase);
    text-align: center;
    line-height: 40px;
    margin-right: 16px;
}

#banner .mouse_btn a{
    margin: auto;
    transition: 0.5s;
}
#banner .mouse_btn a:hover{
    transform: scale(1.2);
}
#banner .banner_img{
    position: relative;
}

#banner .banner_img .banner_mainimg{
    align-self: right;
    text-align: right;
    margin-left: 153px;
}
/* Image position UI Start */
#banner .banner_img .img_info .ui-esigner{
    position: absolute;
    top: 107px;
    left: 104px;
    width: 132px;
    height: 44px;
    background-color: var(--white-color);
    border-radius: 10px;
    box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.06);
    justify-content: center;
}
#banner .banner_img .img_info .ui-esigner .gradient_box{
    width: 16px;
    height: 16px;
    background-image: linear-gradient(180deg, #FF8D3A 0%, #F16500 100%);
    background-color: var(--white-color);
    border-radius: 10px;
    box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.06);
    justify-content: center;
    margin-right: 9px;
}
#banner .banner_img .img_info .ui-esigner p{
    font-size: 12px;
    font-weight: 400;
    color: var(--single-use-color);
}
/* Image position UI Start */

/*Image Position User-research Start */

#banner .banner_img .img_info .user-research{
    position: absolute;
    top: 12px;
    right: -100px;
    width: 157px;
    height: 44px;
    background-color: var(--white-color);
    border-radius: 10px;
    box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.06);
    justify-content: center;
}
#banner .banner_img .img_info .user-research .user-research-icon{
    color: #616161;
    margin-right: 8px;
}
#banner .banner_img .img_info .user-research p{
    font-size: 12px;
    font-weight: 400;
    color: var(--single-use-color);
}

/*Image Position User-research End */

/*Image Position Self_info Start */
#banner .banner_img .img_info .self_info{
    position: absolute;
    left: 45px;
    bottom: 20px;
    width: 155px;
    height: 167px;
    background-color: var(--white-color);
    border-radius: 16px;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.06);
    text-align: center;
    padding: 24px 0;
}
#banner .banner_img .img_info .self_info .img_icon{
    padding: 0 0 8px;
}
#banner .banner_img .img_info .self_info .img_icon img{
    margin: auto;
}
#banner .banner_img .img_info .self_info .self_details{
    /* padding: 22px 0 8px; */
} 
#banner .banner_img .img_info .self_info .self_details .ashik_name{
    font-size: 12px;
    font-weight: 500;
    line-height: 18px;
    color: var(--font-color);
} 
#banner .banner_img .img_info .self_info .self_details .occupation{
    font-size: 8px;
    font-weight: 500;
    line-height: 12px;
    color: var(--single-use-color);
    padding: 3px 0 10px;
} 
#banner .banner_img .img_info .self_info .self_details h3{
    font-size: 12px;
    line-height: 16px;
    color: var(--font-color);
} 
#banner .banner_img .img_info .self_info .self_details .poject_com{
    font-size: 8px;
    font-weight: 500;
    line-height: 14px;
    color: var(--single-use-color);
} 
/*Image Position Self_info End */
/*Banner Section End */

/*About Section Start */
#about{
    padding-top: 80px;
    background: linear-gradient(95.13deg, #FFCC00 -21.46%, #FAFFCB 112.13%);
}
#about .container{
    position: relative;
}
#about .content .about_img img{
    margin-left: -25px;
    
}
#about .content .about_info{
    
}
#about .content .about_info h2{
    font-size: 50px;
    line-height: 65px;
}
#about .content .about_info p{
    font-size: 20px;
    font-weight: 400;
    line-height: 38px;
    margin: 25px 0 45px;
}


#about .container .content .about_absolute{
    position: absolute;
    bottom: 0;
    right: 0;
    margin-right: -86px;
}
/*About Section End */

/*Projects Section Start */
#projects{
    padding: 151px 0 165px;
}
#projects .content{

}
#projects .content .item{
    width: 350px;
    height: 367px;
    border-radius: 20px;
    background-color: var(--white-color);
    box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.08);
    text-align: center;
    cursor: pointer;
    transition: 0.5s;
}
#projects .content .item img{
    margin:auto;
    padding: 39px 0 18px;
}
#projects .content .item h4{
    font-family: var(--primary-font);
    font-size: 22px;
    font-weight: 600;
    line-height: 40px;
}
#projects .content .item p{
    font-size: 16px;
    line-height: 30px;
    color: var(--single-use-color);
    padding-top: 14px;
}
#projects .content .item:hover{
    box-shadow: 0px 5px 20px #ffcc0043;
}
/*Projects Section End */
